body {
	text-align: center;
	background-color: rgb(255, 252, 237);
}

table {
	margin-left: 30%;
	margin-right: 30%;
	width: 40%;
	border: 2px solid black;
	margin-top: 10px;
	text-align: left;
}

button:hover {
	background-color: lightblue;
}

th {
	text-decoration: underline;
}
.portfolioTotal {
	margin-top: 100px;
}

.totalTable {
	background-color: lightgreen;
}

#totalPortfolioValue {
	text-align: right;
}