body {
	text-align: center;
}

table {
	margin-left: 30%;
	margin-right: 30%;
	width: 40%;
	border: 2px solid black;
	margin-top: 10px;
	text-align: left;
}

.portfolioTotal {
	margin-top: 100px;
}

.totalTable {
	background-color: lightgreen;
}

#totalPortfolioValue {
	text-align: right;
}